<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BEARER_TOKEN</key>
	<string>$(BEARER_TOKEN)</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>Q0AtrJVWIhmC9LwtIDRyAQofOrRu/doERVVjOFW5wkw=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://agencyenterprise.github.io./barbell/appcast.xml</string>
</dict>
</plist>
